@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image: url('/images/newbackg.jpg'); background-size: cover; background-position: center; height: 100vh; display: flex; justify-content: center; align-items: center; color: #fff;">
    <div>
        <h1 class="display-4"></h1>
    </div>
</div>


